*{
    box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', Arial, Helvetica;
    margin: 0;
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2.0em;}
p{font-size: 1.25em;}
ul{list-style: none;}
li{font-size: 1.25em;}


button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 30px;
    border: 2px solid black;
    box-shadow: 2px 2px 10px black;
    color: white;
    background-color: sandybrown;
}

button:hover{
    background-color: rgb(177, 110, 51);
}

.container{

    max-width: 1400px;
    margin: auto;
}

.color-acento{
    color: sandybrown;
}

header{

    background-color: rgb(243, 245, 248);
}




header .logo{

    margin: 0;
    padding: 25px 30px;
    font-size: 1.6em;
    color: rgb(94, 158, 83);
    font-weight: bold;
    

}

header .container{

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

header nav{
   display: flex;
   flex-direction: column;
   text-align: center;
   padding-bottom: 25px;
}

header a{
   padding: 5px 12px;
   text-decoration: none;
   font-weight: bold;
   color: black;
}

header a:hover{

    color: rgb(94, 158, 83);
    
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 80vh;
    color: rgb(227, 212, 212);
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/logisticaimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    }
    


    #hero h1{
        color: aliceblue;
    }

    #hero button{
        font-size: 1.75em;
    }

    #Somos-Asiana{
        text-align: center;
        padding: 50px;
        background-color: rgb(242, 240, 237);

    }

    #Somos-Asiana .container{

        text-align: center;
        padding: 100px 12px;
    }

#nuestros-programas{
    background-color:rgb(30, 30,30);
    color: rgb(255, 255, 255);
    text-align: center;
}

#nuestros-programas .container{
    padding: 150px 12px;
    

}

#nuestros-programas h2{
    margin-top: 0;
    font-size: 3.2em;
    
}

#nuestros-programas p{
    display: none;
}


#nuestros-programas .oferta-programas{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px ;
    border-radius: 15px;

}

.oferta-programas:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/logisticaservicios.jpg");
    

}

.oferta-programas:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/interior-gran-almacen-distribucion-estantes-apilados-paletas-productos-listos-mercado.jpg");
    

}

.oferta-programas:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/6237416.jpg");
   
}

#caracteristicas .container{
    text-align: center;
    padding: 200px 12px;

}
#caracteristicas li{
    margin: 16px 0px;
    font-weight: bold;
}

#AplicaYa{display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 80vh;
    background-color: black;
    color: white;
    height: 80vh;
}

#AplicaYa h2{
    font-size: 9vw;
}

#AplicaYa{

    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
)
,url("media/mujer-negocios-trabajo.jpg");
background-size: cover;
background-position: center center;
}

#AplicaYa button{
    font-size: 1.75em;
}

footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    color: rgb(100,100,100);
    padding: 12px;
}

footer .container{
    height: 150px;
    display: flex;
    justify-content:center;
    align-items: flex-end;
}

@media (min-width:720px){

    header{
        position: fixed;
        width: 100%;
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;

    }

    #hero h1{

        font-size: 5em;
    }
    #Somos-Asiana .container{
        display: flex;
        justify-content: space-evenly;
        
    }

    #Somos-Asiana .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column
    }

    #Somos-Asiana h2{
        margin-top: 0px;
    }

    #Somos-Asiana .image-container{
        background-image: url(media/hermosa-mujer-independiente-rizada-linda-manicura-usando-laptop-sonriendo-retrato-interior-secretaria-rubia-sentada-junto-companero-trabajo-africano-camisa-azul.jpg);
           background-size: cover;
           background-position: center center;
           height: 500px;
           width: 400px;
    }

    #nuestros-programas .programas{
        display: flex;
        justify-content: center;
    }

    #nuestros-programas p{
        display: block;
        margin-bottom: 30px;
    }

    #nuestros-programas h2{
        font-size: 4em;
    }

    #nuestros-programas h3{
        margin-top: 0;
    }

    

    #nuestros-programas .oferta-programas{
        padding: 50px;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
        background-repeat: no-repeat;
        
    }

    #caracteristicas{
        background-image: url("media/5127314.png");
        background-repeat: no-repeat;
        background-size: 400px 300px;
        background-position: calc(100vw - 1000px) 140px;
        background-color: rgb(242, 240, 237);

    }

    #caracteristicas .container{
        text-align: initial;
        
    }

    #caracteristicas ul{
        margin-left: 100px;
    }
    
    #AplicaYa h2{
        font-size: 5em;

    }

    #AplicaYa{

        background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/mujer-negocios-trabajo.jpg");
    background-size: cover;
    background-position: center center;
    }

    #AplicaYa button{
        font-size: 2em;
    }

    footer .container{
        justify-content: flex-end;
    }

}

@media (min-width: 1200px){
    #caracteristicas{
        background-position-x: calc(100vw - 800px);
    }

}

